<html>
  <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "java", :media => "all" %>
    </head>
  <body>
    <p class="title">javaの学習記録</p>
    <p class="text">Javaの特徴①コンパイル言語である。Rubyはスクリプト言語というもの。
    <br>②プラットフォーム非依存。どんな環境でも動くプログラム
    <br>③オブジェクト指向。保守性が高く、拡張性もある。</p>

  </body>
</html>