<html>
  <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "java2", :media => "all" %>
    </head>
  <body>
    <p class="html-link"><%= link_to "HTML CSS学習", root_path %></p>
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    
    <p class="title">Javaの学習記録②</p>
    <p class="title2">クラス</p>
    <p class="text">↓基本構文↓<br>
　　修飾子 class クラス名 {<br>
　　修飾子 コンストラクタ(引数) {<br>
　　　　// 初期化処理<br>
　　}<br>
}<br>
    </p>
    <p class="text"><strong>this変数</strong>・・・thisというキーワードで自分自身のインスタンスを指す変数を扱うことができる。自分自身のインスタンスのフィールドやメソッドであることを明示的にする場合に使用。</p>
    
    
    </body>
</html>