<html>
  <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "java2", :media => "all" %>
    </head>
  <body>
    <p class="html-link"><%= link_to "HTML CSS学習", root_path %></p>
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    <p class="java-link"><%= link_to "Javaプログラムコード集", java3_path %></p>
    
    <p class="title">Javaの学習記録②</p>
    <p class="title2">クラス</p>
    <p class="text">↓基本構文↓<br>
　　修飾子 class クラス名 {<br>
　　修飾子 コンストラクタ(引数) {<br>
　　　　// 初期化処理<br>
　　}<br>
}<br>
    </p>
    <p class="text"><strong>this変数</strong>・・・thisというキーワードで自分自身のインスタンスを指す変数を扱うことができる。自分自身のインスタンスのフィールドやメソッドであることを明示的にする場合に使用。</p>
<br><br>
<p class="title2">パッケージ</p>
<p class="text">基本構文・・・package パッケージ名;</p>
<p class="title2">メソッド</p>
<p class="text">↓基本構文↓<br>
修飾子 戻り値の型 メソッド名(引数) {<br>
　　// 処理<br>
　　return 戻り値;<br>
}</p>

<p class="title2">例外の基本</p>
<p class="text"><strong>例外</strong>・・・プログラム実行中に発生する予想しない事象（エラー）のこと<br>
例えば、0で割り算をした場合やnullオブジェクトのメンバを参照した場合、存在しないファイルにアクセスした場合などに発生</p>
<p class="text"><strong>例外処理</strong>・・・例外が発生した時に実行する処理を例外処理と言う。例外処理の記述がない場合は、エラーメッセージを出力してプログラムが終了</p>

<p class="title2">オブジェクト指向</p>
<p class="text">オブジェクト指向とは、プログラムを現実世界の「もの（オブジェクト）」に見立てた単位で部品化し、拡張性や保守性の高いシステムの構築を目指す考え方</p>
<p class="text">オブジェクト指向では、コンピュータや車、犬や私や貴方だけでなく、夢や天気も「オブジェクト（もの）」として扱う</p>
<p class="text">オブジェクト指向では、「カプセル化」「継承」「ポリモーフィズム(多態性)」を３大要素と呼ぶ</p>
<br><br>
<p class="text">クラスのメンバは、フィールドとメソッド<br>
<br>
アクセス修飾子は、「public」「protected」「package-private」「private」の4種類<br>
<br>
アクセス修飾子で、クラスに定義できるのは「public」と「package-private」の2種類<br>
<br>
インスタンス生成時に呼び出されるメソッドをコンストラクタと呼ぶ<br>
<br>
ディレクトリ階層でクラスをグループ化するしくみをパッケージと呼ぶ<br>
<br>
クラスで定義された変数をメンバ変数と呼ぶ<br>
<br>
メソッド内で定義された変数をローカル変数と呼ぶ<br>
<br>
クラスから直接呼び出しができるメソッドをstatic(スタティック)メソッドと呼ぶ<br>
<br>
チェックする必要がない例外をランタイム例外（RuntimeException）と呼ぶ<br>
<br>
オブジェクト指向は、プログラムを、もの（オブジェクト）に見立ててプログラミングする<br>
<br>
Javaで「型」というと、クラスを指す<br>
<br>
クラスを実体化したものをインスタンスと呼ぶ<br>
<br>
インスタンスを生成することをインスタンス化と呼ぶ<br>
</p>

<p class="title2">カプセル化について</p>
<p class="text">カプセル化とは、オブジェクトの情報をカプセルのようにまとめ、中身を隠蔽したままオブジェクトを利用すること<br>
具体的には、メソッドやフィールドのアクセスを外部から制限することや、継承したスーパークラスの型の変数にサブクラスのオブジェクトを代入してサブクラスの型を隠蔽すること
</p>

<p class="title2">継承について</p>
<p class="text"><strong>継承</strong>・・・継承とは、既に作成してあるクラスのメソッドやフィールドを引き継いだクラスを新しく作成すること</p>
<p class="text">継承する元のクラスを<strong>「スーパークラス（親クラス、基底クラス）」</strong>と呼び、継承する先のクラスを<strong>「サブクラス（子クラス、派生クラス）」</strong>と呼ぶ</p>

<p class="title2">ポリモーフィズム</p>
<p class="text"><strong>ポリモーフィズム</strong>・・・同じクラスを継承した別々のクラスのオブジェクトの同じメソッドを呼び出した時に、それぞれのオブジェクトの振る舞い（処理）を変えること</p>
<p class="text">インターフェースを実装したクラスのオブジェクトの場合でもポリモーフィズムと言います。ポリモーフィズムのことを「多態性」とも言い</p>

<p class="title2">オーバーライド</p>
<p class="text"><strong>オーバーライド</strong>・・・スーパークラスのメソッドをサブクラスで上書きして再定義すること。インターフェースに定義したメソッドを実装した場合も同じようにオーバーライドと言う</p>

<p class="title2">オーバーロード</p>
<p class="text"><strong>オーバーロード</strong>・・・引数の型、数、並び順のいずれかが異なる同じ名前のメソッドを１つのクラスに複数定義すること<br>
同じ処理のメソッドを同じメソッド名で定義できるため、ソースコードがわかりやすくできる
</p>




    
    </body>
</html>