<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <%= stylesheet_link_tag "java3", :media => "all" %>
    </head>
</html>
<body>
    <p class="html-link"><%= link_to "HTML CSS学習", root_path %></p>
    <p class="java-link"><%= link_to "Java学習①", java_path %></p>
    <p class="java-link"><%= link_to "Java学習②", java2_path %></p>
    
    <p class="title">Javaプログラムコード集</p>
    <p class="title2">問題①　「こんにちは！」という文字列を出力してください。</p>
    <p class="java-code">
        <pre>
public class Test {
    public static void main(String[] args) {
		System.out.println("こんにちは！");
    }
}
        </pre>
        
    </p>
<p class="answer">↓出力結果↓<br>
こんにちは！
    </p>
    
</body>