<html>
    <head>
        <%= stylesheet_link_tag "top", :media => "all" %>
    </head>

    <body>
 <header>
      <h1 class="heading">
        HTMLの練習
      </h1>
      </header>


<div class="text-center">

<p class="red">練習用ABC</p>
<p class="abc">練習用ABC</p>
文字のテスト
</div>
<table border="1">
    <tr>
        <th>プラン名</th>
        <th>料金</th>
    </tr>
    <tr>
        <td>わくわくプラン</td>
        <td>月額2,900円</td>
    </tr>
    <tr>
        <td>にこにこプラン</td>
        <td>月額1,900円</td>
    </tr>
</table>

<ul>
    <li>卵(3個)</li>
    <li>しょうゆ(大さじ1)</li>
    <li>みりん(大さじ1)</li>
    <li>塩(少々)</li>
</ul>

<ol>
    <li>卵を割りほぐし、調味料を加える</li>
    <li>卵焼き器に卵液を1/4量を入れて広げる</li>
    <li>半熟状になったら箸で手前に巻き、奥に移動させる</li>
    <li>これを繰り返し、最後まで焼けたら完成</li>
</ol>

<table border="1">
    <tr>
        <th>セル１</th>
        <th>セル２</th>
    </tr>
    <tr>
        <td>セル３</td>
        <td>セル４</td>
    </tr>
    <tr>
        <td>セル５</td>
        <td>セル６</td>
    </tr>
</table>


名前: <input type="text">

名前: <input type="text" placeholder="名字 名前">
<br>

性別:
<input type="radio" name="gender" value="男"> 男
<input type="radio" name="gender" value="女" checked> 女
<input type="radio" name="gender" value="その他"> その他

<br>

好きな色:
<input type="checkbox" name="color" value="赤" checked> 赤
<input type="checkbox" name="color" value="青"> 青
<input type="checkbox" name="color" value="黄"> 黄
<input type="checkbox" name="color" value="緑"> 緑

<br>

<input type="submit" value="送信する">

血液型
<select name="bloodtype">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="O">O</option>
    <option value="AB">AB</option>
    <option value="不明">不明</option>
</select>
<br>

<textarea name="message" placeholder="メッセージを入力"></textarea>

<br>

今すぐ<a href="https://google.co.jp">Google</a>で検索!
<br>
<a href="mailto:takuya11070221@gmail.com">お問い合わせ</a>

<p class="futoji">太字になっている</p>

<p class="color">猫の</p>
</body>
</html>