<html>
    <head>
        <%= stylesheet_link_tag "top", :media => "all" %>
    </head>
    
    <body>
 <header>
      <h1 class="heading">
        Title
      </h1>
      </header>


<div class="text-center">

<p class="red">練習用</p>
文字のテスト

</div>
</body>
</html>