
.java-link {
  font-size: 30px;
  margin: 50px 0;
}

.red {
  color: red;
}

.abc {
    font-size: 40;
    font-family: Impact;
}

.futoji {
  font-weight: bold;
}

.color {
  background-color: #faa;
}

body {
   background-color: #f5f2e5;
}

.test {
  background-color: #0bd;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 40px;
}

.test2 {
  text-align: center;
  background-color: #0bd;
  padding: 50px;
  width: 500px;
  margin: 50px;
}

.test3 {
  border-width: thick;
  border-style: solid;
}

.test4 {
  border-style: solid;
  border-color: #0bd;
}

.test5 {
  border: dotted tomato;
}

.test6 {
  border-bottom: 2px solid #0bd;
}

.test7 {
  list-style-type: square;
}

.test8 {
  list-style-type: hiragana;
}

.item {
  background: #0bd;
  color: #fff;
  margin: 10px;
  padding: 10px;
}

.container {
  display: flex;
}

.container2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.container4 {
  display: flex;
  flex-direction: column;
}

.container5 {
  display: flex;
  justify-content: space-around;
}

.container6 {
  display: flex;
  justify-content: space-between;
}

.container7 {
  display: flex;
  align-items: flex-start;
}

.container8 {
  display: flex;
  align-items: stretch;
}

.container9 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 500px;
}

.item1 {
  background: #0bd;
  color: #fff;
  width: 100px;
  margin: 100px;
  padding: 10px;
}

.container10 {
  display: grid;
}

.item2 {
  background: #0bd;
  color: #fff;
  padding: 10px;
}

.container11 {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}


.container12 {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
}

.container13 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.container14 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: 200px 200px;
}

.test9 {
  letter-spacing: 20px;
}






